#For this proyect
cgi_tester
tester
ubuntu_cgi_tester
ubuntu_tester
Websrv
*.log
*.json
Unix Network *.pdf
Resources/Filetypes/oldfiles/
mandatory/objdst_dir/
manuals
.DS_Store
Resources/Filetypes/Makefile
Test.cpp
www/*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
