/* format type of the configutation file
server:{
	listen:8001;                        # listening port, mandatory parameter. Can be multiple ex: 8000:8100, 8060, 8020
	host:127.0.0.1;                     # host or 127.0.0.1 by default
	server_name:test;                   # specify server_name, need to be added into /etc/hosts to work
	error_page:/error/;    			  	# default error page
	client_max_body_size:1024;          # max request body size in bytes
	root:docs/fusion_web/;              # root folder of site directory, full or relative path, mandatory parameter
	index:index.html;                   # default page when requesting a directory, index.html by default
}
*/
server:{
	port:8082,8083;                			# listening port, mandatory parameter
	host:127.0.0.1;                     # host or 127.0.0.1 by default
	server_name:test;                   # specify server_name, need to be added into /etc/hosts to work
	error_page:/error/;    			    # default error page
	client_max_body_size:1024;          # max request body size in bytes
	root:docs/fusion_web/;              # root folder of site directory, full or relative path, mandatory parameter
	index:index.html;                   # default page when requesting a directory, index.html by default
};
